@font-face {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  src: url("/source/fonts/OpenSans-Regular.woff2");
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  src: url("/source/fonts/OpenSans-Bold.woff2");
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}